@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.titulo{
    width: 100%;
    font-size: 56.6px;
    font-weight: 700;
    color: #0a2ff1;

}
.texto{
    display: inline;
    margin-right: 10px;
    font-size:30.06px;
    color:#0a2ff1;
    background-color: #eff2ff;
}
button{
    font-size:30.06px;
    color: white;
    background-color: #8a9af1;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;


}
img{
    width:30%;
}

footer{
    background-color: #3ffff3;
    height: 5px;
    margin-bottom: 5%;
}