@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin-top: 3%;
    margin-left: 3%;
}
h1{
    font: 900 40px 'Mulish'; color: #04146c;
    
}
#line{
    width: 100%;
    height: 2px;
    background-color: black;
}

main{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}
.tag{
    margin: 0;
    width: 23%; height: auto;
    border: 1px solid black;
}
img{
    width: 100%; height: auto;
}
h2{
    font: 700 20px 'Mulish';
    width: 100%; height: 60px;
    color: white;
    background-color: #0a2ff1;
    text-align: center;
    padding: 1em
;

}